#artist-div {
    display: grid;
    grid-template-columns: auto auto;
  }

#bio-p {
  color: lightsalmon;
}

#bio-div {
  padding: 1.5rem;
}

#presentation-div {
  padding: 1rem;
  text-align: center;
}

#presentation-div > h3 {
  color: lightcyan;
  font-size: 20px;
}

p {
  color: lightskyblue;
}

img {
  border-radius: 1rem;
}