h3 {
    color: crimson;    
}

#error-div {
    border: solid 1px;    
    width: 25%;
    text-align: center;
    padding: 0.5rem;
    background-color: black;
    border-radius: 1rem;
    margin-bottom: 3rem;
    margin-top: 3rem;   
}